@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
  box-sizing: border-box;
}


body {

  background-color: #4b537d;

}

h2 {
  font-size: 36px;
  font-family: Poppins;
}

.navbar-collapse {
  text-align: center;
}

.h3-main-page {
  padding-top: 1rem;

}

.banner-main-page {
  padding-top: 5rem;
  padding-bottom: 1rem;

  text-align: center;
  color: azure;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.banner-page {
  padding-top: 5rem;
  padding-bottom: 1rem;

  text-align: center;
  color: azure;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.col {

  margin-bottom: 1rem;

}

.span-location {
  font-size: 16px;
}

.container {

  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #F2F2F2;
}



.banner {
  width: 100%;
  background: url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
  /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
  background-size: cover;
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding: 40px 15px;
}

.big-text {
  font-size: 45px;
  font-weight: 800;
  animation-delay: 1s;
}

.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  transition: .3s;
}

.banner a:hover {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}

.menu-item {

  animation-delay: 0.4s;

}


